<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>DRONE SET UP</title>
    <style>
        .my_paragraph {
            display: inline-block;
            width: 30%;
            margin: 1%;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h1>DRONE SET UP</h1>
    <form action="/add_drone" method="post">
        <label for="drone_id">drone_id</label>
        <input type="text" id="drone_id" name="drone_id" value="{{ next_drone }}">

        <label for="drone_speed">drone_id</label>
        <input type="text" id="drone_speed" name="drone_speed" value="20">
        
        <label for="drone_acc">drone_id</label>
        <input type="text" id="drone_acc" name="drone_acc" value="30">
        
        <button type="submit" name="add_drone">add_drone</button>
    </form>
    <br><br>
    <form action="/generate_config" method="post">
        <button type="submit" name="generate_config">generate_config</button>
    </form>
    <br><br>
    {% for key, value in drones_bag.items() %}
    <div class="my_paragraph">
        <form action="/action_on_drone" method="post">
            <p><b>{{ key }}</b></p>
            <p>Drone_id: {{ value.id }}</p>
            <label for="drone_id" hidden>Drone_id</label>
            <input type="hidden" id="drone_id" name="drone_id" value="{{ value.id }}">
            <label for="drone_speed">Drone_speed</label>
            <input type="text" id="drone_speed" name="drone_speed" value="{{ value.speed }}">
            <br>
            <label for="drone_acc">Drone_acceleration</label>
            <input type="text" id="drone_acc" name="drone_acc" value="{{ value.acc }}">
            <br>
            <button type="submit" name="aod" value="modify_drone">modify_drone</button>
            <button type="submit" name="aod" value="duplicate_drone">duplicate_drone</button>
            <button type="submit" name="aod" value="remove_drone">remove_drone</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>