<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>DRONE SET UP</title>
    <style>
        .my_paragraph {
            display: inline-block;
            width: 30%;
            margin: 1%;
            padding: 10px;
        }
        .json_input {
            width: 18%;
        }
    </style>
</head>
<body>
    <h1>DRONE SET UP</h1>
    <form action="/add_drone" method="post">
        <label for="drone_id">drone_id</label>
        <input type="text" id="drone_id" name="drone_id" value="{{ next_drone }}">

        <label for="drone_speed">drone_speed</label>
        <input type="text" id="drone_speed" name="drone_speed" value="20">
        
        <label for="drone_acc">drone_acc</label>
        <input type="text" id="drone_acc" name="drone_acc" value="30">

        <label for="drone_tof">drone_tof</label>
        <input type="text" id="drone_tof" name="drone_tof" value="50">

        <label for="drone_sweep_width">drone_sweep_width</label>
        <input type="text" id="drone_sweep_width" name="drone_sweep_width" value="30">
        
        <label for="drone_coordx">drone_coordx</label>
        <input type="text" id="drone_coordx" name="drone_coordx" value="-200">

        <label for="drone_coordy">drone_coordy</label>
        <input type="text" id="drone_coordy" name="drone_coordy" value="0">

        <button type="submit" name="add_drone">add_drone</button>
    </form>
    <br>
    <form action="/change_height" method="post">
        <label for="fly_height">fly_height</label>
        <input type="text" id="fly_height" name="fly_height" value="{{ fly_height }}">

        <button type="submit" name="change_height">change_height</button>
    </form>
    <br><br>
    <form action="/generate_config" method="post">
        <button type="submit" name="generate_config">generate_config</button>
    </form>
    <br><br>
    <form action="/perimeter" method="post">
        <textarea id="textbox" name="textbox" rows="5", cols="30">{{ perimeter }}</textarea>
        <br><br>
        <button type="submit" name="text_button">add perimeter</button>
    </form>
    <br>
    <form action="/export_json" method="get">
        <label for="e_json">route of exported json</label>
        <input type="text" class="json_input" id="e_json" name="e_json", value="{{ downloads }}">

        <button type="submit" name="export_json">export_json</button>
    </form>
    <br>
    <form action="/import_json" method="post">
        <label for="i_json">route of imported json</label>
        <input type="text" class="json_input" id="i_json" name="i_json", value="{{ downloads }}/imported.json">

        <button type="submit" name="import_json">import_json</button>
    </form>
    <br>
    {% for key, value in drones_bag.items() %}
    <div class="my_paragraph">
        <form action="/action_on_drone" method="post">
            <p><b>{{ key }}</b></p>
            <p>Drone_id: {{ value.id }}</p>
            <label for="drone_id" hidden>Drone_id</label>
            <input type="hidden" id="drone_id" name="drone_id" value="{{ value.id }}">
            <label for="drone_speed">Drone_speed</label>
            <input type="text" id="drone_speed" name="drone_speed" value="{{ value.speed }}">
            <br>
            <label for="drone_acc">Drone_acceleration</label>
            <input type="text" id="drone_acc" name="drone_acc" value="{{ value.acc }}">
            <br>
            <label for="drone_tof">Drone_tof</label>
            <input type="text" id="drone_tof" name="drone_tof" value="{{ value.tof }}">
            <br>
            <label for="drone_sweep_width">Drone_sweep_width</label>
            <input type="text" id="drone_sweep_width" name="drone_sweep_width" value="{{ value.sweep_width }}">
            <br>
            <label for="drone_coordx">Drone_coordx</label>
            <input type="text" id="drone_coordx" name="drone_coordx" value="{{ value.coordx }}">
            <br>
            <label for="drone_coordy">Drone_coordy</label>
            <input type="text" id="drone_coordy" name="drone_coordy" value="{{ value.coordy }}">
            <br>
            <button type="submit" name="aod" value="modify_drone">modify_drone</button>
            <button type="submit" name="aod" value="duplicate_drone">duplicate_drone</button>
            <button type="submit" name="aod" value="remove_drone">remove_drone</button>
        </form>
    </div>
    {% endfor %}
</body>
</html>